@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {     
.home-container{
@apply grid gap-3;
grid-template-columns: 1fr 3fr 1fr;
grid-template-areas:"header header header"
"swiper swiper swiper"
"offers offers offers";
}

.home-header {
  grid-area: header;
  /* background-color: aqua; */
  /* border: 1px solid black; */
  height: 155px;
  border-radius: 10px;
}

.home-menu {
  grid-area: menu;
  /* background-color: aquamarine; */
  border: 1px solid red;
  height: 550px;
   border-radius: 10px;
}

.home-swiper {
  grid-area: swiper;
  /* background-color: lightcyan; */
    /* border: 1px solid black; */
  height: 330px;
   /* border-radius: 10px; */
   overflow: hidden;
}

.home-offers {
  grid-area: offers;
  height: 210px;
  background-image: url('/images/flash.webp');
  overflow: hidden;
  background-position: -292px -129px;
  background-size: cover;
   /* border-radius: 10px; */

}

.home-user {
  grid-area: user;
  /* background-color: rgb(255, 0, 13); */
    border: 1px solid orange;
  height: 550px;
   border-radius: 10px;
}

}
